*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
*.swp
*~
.mr.developer.cfg
.DS_Store
Thumbs.db
.venv
.idea
out
target
*.iml
*.ipr
*.iws
*.db
*.log
ChangeLog
AUTHORS
*.qcow2
diskimage-create.*
debug.sh
/*.d
!zuul.d/

# Files created by Sphinx build
build
doc/build

# Development environment files
.project
.pydevproject
