[Unit]
Description=Fetch Public Keys
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/fetch-public-ssh-keys.sh

[Install]
WantedBy=multi-user.target
